<div>
        <div class="clipboard_container">
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/so-phonez-z216489594280.png" /><span></span>
                </div>
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/so-searchz-z984585378080.png" /><span></span>
                </div>
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/so-facebookz-z1255490262883.png" /><span></span>
                </div>
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/so-linez-z1207058629969.png" /><span></span>
                </div>
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/so-igz-z1581800437629.png" /><span></span>
                </div>
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/so-youtubez-z1422527903973.png" /><span></span>
                </div>
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/so-twitterz-z532769470586.png" /><span></span>
                </div>
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/so-whatsappz-z755287478339.png" /><span></span>
                </div>
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/so-mailz-z191704213132.png" /><span></span>
                </div>
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/so-mapz-z637121397871.png" /><span></span>
                </div>
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/so-tiktokz-z1548678765051.png" /><span></span>
                </div>
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/so-lazadaz-z1648889003448.png" /><span></span>
                </div>
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/so-shopeez-z333856140586.png" /><span></span>
                </div>
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/so-linkedinz-z336119595538.png" /><span></span>
                </div>
        </div>
        <div class="clipboard_container">
                <div class="items"><img
                                src="http://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/cf-phonez-z75576861730.png" /><span></span>
                </div>
                <div class="items"><img
                                src="http://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/cf-searchz-z1333825403667.png" /><span></span>
                </div>
                <div class="items"><img
                                src="http://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/cf-facebookz-z1258706551348.png" /><span></span>
                </div>
                <div class="items"><img
                                src="http://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/cf-linez-z918632603560.png" /><span></span>
                </div>
                <div class="items"><img
                                src="http://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/cf-igz-z1400652234558.png" /><span></span>
                </div>
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/cf-youtubez-z299812056194.png" /><span></span>
                </div>
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/cf-twitterz-z1304049881443.png" /><span></span>
                </div>
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/cf-whatsappz-z360277666328.png" /><span></span>
                </div>
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/cf-mailz-z1571630482201.png" /><span></span>
                </div>
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/cf-pinz-z1475751559146.png" /><span></span>
                </div>
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/cf-tiktokz-z1009238498457.png" /><span></span>
                </div>
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/cf-lazadaz-z1014306331864.png" /><span></span>
                </div>
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/cf-shopeez-z1415649357340.png" /><span></span>
                </div>
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/cf-linkedinz-z1101195690124.png" /><span></span>
                </div>
        </div>
        <div class="clipboard_container">
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/co-phonez-z1055265739760.png" /><span></span>
                </div>
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/co-searchz-z1694766223745.png" /><span></span>
                </div>
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/co-facebookz-z1268541980777.png" /><span></span>
                </div>
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/co-linez-z727933826256.png" /><span></span>
                </div>
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/co-igz-z1098119228896.png" /><span></span>
                </div>
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/co-youtubez-z1624757345861.png" /><span></span>
                </div>
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/co-twitterz-z124731532942.png" /><span></span>
                </div>
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/co-whatsappz-z1374134599298.png" /><span></span>
                </div>
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/co-mailz-z310711444189.png" /><span></span>
                </div>
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/co-mapz-z147700063257.png" /><span></span>
                </div>
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/co-tiktokz-z1525206898307.png" /><span></span>
                </div>
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/co-lazadaz-z1246038608782.png" /><span></span>
                </div>
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/co-shopeez-z385202894683.png" /><span></span>
                </div>
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/co-linkedinz-z345993766300.png" /><span></span>
                </div>
        </div>
        <div class="clipboard_container">
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/sf-phonez-z1664168192279.png" /><span></span>
                </div>
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/sf-searchz-z170026803321.png" /><span></span>
                </div>
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/sf-facebookz-z1042242304928.png" /><span></span>
                </div>
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/sf-linez-z567177180401.png" /><span></span>
                </div>
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/sf-igz-z690858807976.png" /><span></span>
                </div>
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/sf-youtubez-z322664839916.png" /><span></span>
                </div>
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/sf-twitterz-z1556492998781.png" /><span></span>
                </div>
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/sf-whatsappz-z227977438295.png" /><span></span>
                </div>
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/sf-mailz-z1453319569893.png" /><span></span>
                </div>
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/sf-mapz-z204458433713.png" /><span></span>
                </div>
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/sf-tiktokz-z587043067398.png" /><span></span>
                </div>
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/sf-lazadaz-z1229623443333.png" /><span></span>
                </div>
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/sf-shopeez-z1098645757884.png" /><span></span>
                </div>
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/sf-linkedinz-z926794049110.png" /><span></span>
                </div>
        </div>
        <div class="clipboard_container">
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/n-phonez-z818808809202.png" /><span></span>
                </div>
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/n-searchz-z518913135835.png" /><span></span>
                </div>
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/n-facebookz-z1656652783772.png" /><span></span>
                </div>
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/n-linez-z1159309108422.png" /><span></span>
                </div>
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/n-igz-z1447466116513.png" /><span></span>
                </div>
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/n-youtubez-z316205666177.png" /><span></span>
                </div>
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/n-twitterz-z1282650059400.png" /><span></span>
                </div>
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/n-whatsappz-z578375602327.png" /><span></span>
                </div>
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/n-mailz-z738686032767.png" /><span></span>
                </div>
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/n-mapz-z1037670644727.png" /><span></span>
                </div>
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/n-tiktokz-z760785497398.png" /><span></span>
                </div>
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/n-lazadaz-z313421862219.png" /><span></span>
                </div>
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/n-shopeez-z755854200412.png" /><span></span>
                </div>
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/n-linkedinz-z944467845430.png" /><span></span>
                </div>
        </div>
        <div class="clipboard_container">
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/so-phonez-z216489594280.png" /><span></span>
                </div>
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/so-searchz-z984585378080.png" /><span></span>
                </div>
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/so-facebookz-z1255490262883.png" /><span></span>
                </div>
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/so-linez-z1207058629969.png" /><span></span>
                </div>
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/so-igz-z1581800437629.png" /><span></span>
                </div>
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/so-youtubez-z1422527903973.png" /><span></span>
                </div>
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/so-twitterz-z532769470586.png" /><span></span>
                </div>
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/so-whatsappz-z755287478339.png" /><span></span>
                </div>
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/so-mailz-z191704213132.png" /><span></span>
                </div>
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/so-mapz-z637121397871.png" /><span></span>
                </div>
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/so-tiktokz-z1548678765051.png" /><span></span>
                </div>
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/so-lazadaz-z1648889003448.png" /><span></span>
                </div>
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/so-shopeez-z333856140586.png" /><span></span>
                </div>
                <div class="items"><img
                                src="https://itp1.itopfile.com/ImageServer/z_itp_24092023yxze/0/0/so-linkedinz-z336119595538.png" /><span></span>
                </div>
        </div>


</div>



<script>

        function copyToClipboard(text) {
                const tempInput = document.createElement('input');
                tempInput.style.position = 'absolute';
                tempInput.style.left = '-9999px';
                tempInput.value = text;
                document.body.appendChild(tempInput);
                tempInput.select();
                document.execCommand('copy');
                document.body.removeChild(tempInput);

                // Display feedback message for a short time
                const feedback = document.getElementById('copyFeedback');
                feedback.style.display = 'block';
                setTimeout(() => {
                        feedback.style.display = 'none';
                }, 2000);
        }


        document.querySelectorAll('.clipboard_container .items').forEach(item => {
                item.addEventListener('click', function () {
                        const img = item.querySelector('img');
                        if (img) {
                                copyToClipboard(img.src); // Copy the image's URL
                        }
                });
        });
</script>