<div>
    <div class="header-nav">
        <div class="header-nav-logo">

        </div>
        <div class="header-nav-menu">
            <a class="header-nav-link" href="">Font Family</a>
            <a class="header-nav-link" href="">Slide-1</a>
            <a class="header-nav-link" href="">Slide-2</a>
            <a class="header-nav-link" href="">Slide-3</a>
            <a class="header-nav-link" href="">Slide-4</a>
        </div>
        <div class="toggle-mode">
            <div class="switch-mode">
                <img class="light" src="/assests/sun.png">
                <img class="dark" src="/assests/moon.png">
                <img class="light none-local" src="https://ntp-md.github.io/mod-tools/assests/sun.png">
                <img class="dark none-local" src="https://ntp-md.github.io/mod-tools/assests/moon.png">
            </div>

        </div>
    </div>
</div>


<style>
    header {
        position: sticky;
        top: 0;
        z-index: 1000;
        background: var(--color);
        box-shadow: 0 0 3px #eee;
    }

    .header-nav {
        display: grid;
        grid-template-columns: 20% 60% 20%;
        place-content: center;
        place-items: center;
        min-height: 120px;
        width: 80vw;
        margin: 0 auto;
    }

    .header-nav-menu {
        display: flex;
        justify-content: flex-end;
        gap: 1vw;
    }

    .header-nav-logo {
        font-size: 3vw;
        font-weight: 900;
        color: var(--color2);
    }


    .toggle-mode {
        position: fixed;
        top: -3.5vw;
        right: -3.5vw;
    }



    .switch-mode {
        position: relative;
        aspect-ratio: 1;
        width: 7vw;
        border-radius: 50%;
        cursor: pointer;
        background: var(--color2);
        box-shadow: 0 0 0 2px var(--color2);
        transition: .5s;
    }


    .switch-mode img {
        width: 30px;
        aspect-ratio: 1;
        transition: .5s;
        z-index: 0;
        border-radius: 50%;
        user-select: none;
    }

    .switch-mode img:first-child {
        position: absolute;
        bottom: 25px;
        left: 25px;
        filter: invert(1);
    }

    .switch-mode img:last-child {
        position: absolute;
        top: 25px;
        left: 80px;
        transform: rotate(-160deg);
    }

    body.dark-mode .switch-mode {
        transform: rotate(-180deg);
    }

    body.dark-mode .switch-mode img {}
</style>