<div>
    <div class="panel-menu">
        <a class="panel-menu-link" href="/component/clipboard.html"></a>
        <a class="panel-menu-link" href=""></a>
        <a class="panel-menu-link" href=""></a>
        <a class="panel-menu-link" href=""></a>
        <a class="panel-menu-link" href=""></a>
    </div>


</div>


<style>
    .panel-menu {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }

    .panel-menu-link {
        display: grid;
        height: 100%;
        width: 100%;
        background: #333;
    }
</style>